/* CSS Document */

/* Main Navigation for the Departments*/
    body.department ul#mainnav > li {
        width:15.9em;
    }
body.department ul#mainnav > li > a {
                padding:0;
                }
body.department ul#mainnav > li > ul > li {
                font-size: 0.9em;
                }
body.department ul#mainnav > li > ul > li > a {
                margin-left:0.75em;
                }
body.admin.department ul#mainnav > li {
    width: 18.9em;
}
/* Content */
body.department div#content {
    background:url('/cmsimages/department-lower-bg.png') left repeat-y #fff;
}
body.department div#content.nocol {
    background:#fff;
}
        
/* Center Column */
body.department div#center {
    left:18.9em;
    width:76.7em;
}
    body.department div#center.nocol {
        left:0;
        width:95.8em;
    }

/* Left Column */
body.department div#left {
    left:-76.7em;
    width:19.1em;
}
body.department div#left > ul {
    width:15.1em;
}

/* Department Links */
body.department div#deptlinks {
    background:#EFE8D8;
    border-bottom:1px solid #fff;
    float:left;
    height:49.7em;
    margin:-4em 0 2em 0;
    width:18.9em;
}
    body.department div#deptlinks > p {
        font-size:1.3em;
        font-style:italic;
        margin:2.8em 1.2em 0.5em;
    }
    body.department div#deptlinks > ul > li {
        float:right;
        width:16.9em;
    }
    body.department div#deptlinks > ul > li:hover {
        background:#D1BD98;
    }
        body.department div#deptlinks > ul > li > p {
            font-size:1.3em;
            font-style:italic;
            margin:2em 0 1em -0.5em;
        }
        body.department div#deptlinks > ul > li > a {
            display:block;
            overflow:hidden;
            position:relative;
            width:100%;
        }
            body.department div#deptlinks > ul > li > a:hover {
                color:#333;
            }
        body.department div#deptlinks > ul > li > a > img {
            height:4em;
            float:left;
            left:1em;
            margin-top:-25px;
            position:absolute;
            top:50%;
            width:6.4em;
        }
        body.department div#deptlinks > ul > li > a > span {
            display:block;
            float:left;
            font-size:1.2em;
            line-height:1.1em;
            margin-top:0.5em;
            margin-bottom:1.5em;
            margin-left:6.75em;
            text-transform:none;
        }
        body.department div#deptlinks > ul > li.dir:hover {
            background:none;
        }
        body.department div#deptlinks > ul > li.dir span {
            color:#b70101;
            font-size:12px;
            margin-left:0.75em;
            margin-bottom:0;
        }

body.ME.department div#deptlinks > ul > li > a {
    height: 60px;
}
body.MSE.department div#deptlinks > ul > li > a {
    height: 50px;
}
body.MSE.department div#deptlinks > ul > li > a > span {
    margin-top: 0;
}

body.department.home-page div#center > ul#featuredNav{
    top: 42em;
}

body.department div#center > ul#featured {
    height:47.7em;
    width:76.9em;
}
body.admin.department div#center > ul#featured {
  height: 24.5em;
}
body.department h2.accordion-title {
    color: #B70101;
    font-size: 120%;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 0.25em;
}

div.ui-accordion-content-active a {
    text-decoration: underline;
    color: #b70101;
}

div.tab-content-block p {
    font: 120%/1.5 "Lucida Grande", "Lucida Sans Unicode", arial, sans-serif;
}